@{
    ViewData["Title"] = "Home Page";
}

<div class="hero-banner" style="
    background-image: url('@Url.Content("~/images/pexels-davidmcbee-396304 (1).jpg")');
    background-size: cover;
    background-position: center;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;">

    <h1 style="display: inline-block; padding: 0.5rem 1rem; border-radius: 0.3rem; background-color: #a52422;" class="lime-text">Solar University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to <br> Solar University</h2>
        <p>
            Solar University is committed to providing a world-class education through innovative teaching, cutting-edge research, and a supportive community. Join us to experience a transformative journey in higher education.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Explore Our Programs</h2>
        <p>Discover a wide range of undergraduate, graduate, and professional programs designed to prepare you for a successful career. Our curriculum is tailored to meet the demands of the modern workforce.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Apply Now</h2>
        <p>Start your journey with Solar University today. Our streamlined application process is designed to help you get started quickly and easily.</p>
        
    </div>

</div>